* {
  background-color: grey;
}

h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  font-style: italic;
  text-decoration: underline;
  color: #992677;
}
#goals {
  text-align: left;
  font-style: italic;
  color: #629dfc
}

p {
  font-size: 18px;
  border-style: solid;
  border-color: orange;
  padding: 10px;
  text-indent: 50px;
}
